html {
    box-sizing: border-box;
}

*, 
*:before, 
*:after {
  box-sizing: inherit;
}

body{
  font-family: 'Roboto Condensed', sans-serif, Arial;
  color: black;
  background: #F7F8F8;
}

.container-sm{
  width: 60%;
  margin-top: 3rem;
  background-color: #fff;
  border-radius: 10px;
}

.box-description{
  padding: 1.5rem 1.5rem;
}

.box-description > p {
  color: #4A4754;
}

.text-area {
  padding: 0 1.5rem;
  padding-bottom: 1.5rem;
}

.text-area > input {
  margin-top: 30px;
}

textarea {
  height: 10rem;
}


@media only screen and (max-width:800px)  { 
  .container-sm {
    width: 80%;
  }
  .box-description {
   padding-left: 1rem;
   padding-right: 0rem;
   
  }
  .text-area {
    padding-left: 1rem;
    
  }
 }

@media only screen and (max-width: 400px){
  .header {
    font-size: 1.2rem;
  }
  .box-description {
    font-size: 1rem;
  }
  
}





